<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>Notifications2Growl 0.1, Copyright (C) 2010 Eric Le Lay</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.elelay.Notifications2Growl.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Notifications2Growl</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortStringVersion</key>
	<string>0.1</string>
	<key>CFBundleSignature</key>
	<string>N2GR</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>(C) 2010 Eric Le Lay</string>
	<key>LSUIElement</key>
	<string>1</string>
</dict>
</plist>
